@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css");
@import url('https://fonts.googleapis.com/css2?family=Itim&display=swap');
@import '@trendmicro/react-sidenav/dist/react-sidenav.css';


.mainIMG {
    padding: 5px;
    border-radius: 50%;
    background: rgb(0, 16, 255);
    background: linear-gradient(0deg, #F11A7B 0%, #982176 50%, #3E001F 100%);
}

.mainTxt {
    font-family: 'Itim', cursive;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}


.nameTxt {
    background: linear-gradient(90deg, #2213f5 -2.06%, #E70FAA 100%);
    -webkit-text-fill-color: transparent;
    background-clip: text;
    /* transition: all; */

}

.icon {
    font-size: x-large;
    background-color: rgba(0, 0, 0, 0.472);
}

.slide-right {
    animation: slide-right 2s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

@keyframes slide-right {
    0% {
        transform: translateX(-300px);
        opacity: 0;
    }

    100% {
        transform: translateX(0px);
        opacity: 100;
    }
}

.slide-bottom {
    animation: slide-bottom 2s cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s both;
}

@keyframes slide-bottom {
    0% {
        transform: translateY(-200px);
        opacity: 0;
    }

    100% {
        transform: translateY(0px);
        opacity: 100;
    }
}

.swing-in-top-fwd {
    animation: swing-in-top-fwd 5s cubic-bezier(0.175, 0.885, 0.320, 1.275) both;
}


@keyframes swing-in-top-fwd {
    0% {
        transform: rotateX(-100deg);
        transform-origin: top;
        opacity: 0;
    }

    100% {
        transform: rotateX(0deg);
        transform-origin: top;
        opacity: 1;
    }
}

.shake-horizontal {
    animation: shake-horizontal 0.8s cubic-bezier(0.455, 0.030, 0.515, 0.955) 3s both;
}

@keyframes shake-horizontal {

    0%,
    100% {
        transform: translateX(0);
    }

    10%,
    30%,
    50%,
    70% {
        transform: translateX(-10px);
    }

    20%,
    40%,
    60% {
        transform: translateX(10px);
    }

    80% {
        transform: translateX(8px);
    }

    90% {
        transform: translateX(-8px);
    }
}

.slide-right-name {
    animation: slide-right-name 2s cubic-bezier(0.250, 0.460, 0.450, 0.940) 4s both;
}

@keyframes slide-right-name {
    0% {
        transform: translateX(-200px);
        opacity: 0;
    }

    100% {
        transform: translateX(0px);
        opacity: 100;
    }
}


.bounce-in-right {
    -webkit-animation: bounce-in-right 1.1s both;
    animation: bounce-in-right 1.1s both;
}

@keyframes bounce-in-right {
    0% {
        transform: translateX(600px);
        animation-timing-function: ease-in;
        opacity: 0;
    }

    38% {
        transform: translateX(0);
        animation-timing-function: ease-out;
        opacity: 1;
    }

    55% {
        transform: translateX(68px);
        animation-timing-function: ease-in;
    }

    72% {
        transform: translateX(0);
        animation-timing-function: ease-out;
    }

    81% {
        transform: translateX(32px);
        animation-timing-function: ease-in;
    }

    90% {
        transform: translateX(0);
        animation-timing-function: ease-out;
    }

    95% {
        transform: translateX(8px);
        animation-timing-function: ease-in;
    }

    100% {
        transform: translateX(0);
        animation-timing-function: ease-out;
    }
}

.bounce-in-left {
    animation: bounce-in-left 1.1s both;
}

@keyframes bounce-in-left {
    0% {
        transform: translateX(-600px);
        animation-timing-function: ease-in;
        opacity: 0;
    }

    38% {
        transform: translateX(0);
        animation-timing-function: ease-out;
        opacity: 1;
    }

    55% {
        transform: translateX(-68px);
        animation-timing-function: ease-in;
    }

    72% {
        transform: translateX(0);
        animation-timing-function: ease-out;
    }

    81% {
        transform: translateX(-28px);
        animation-timing-function: ease-in;
    }

    90% {
        transform: translateX(0);
        animation-timing-function: ease-out;
    }

    95% {
        transform: translateX(-8px);
        animation-timing-function: ease-in;
    }

    100% {
        transform: translateX(0);
        animation-timing-function: ease-out;
    }
}

.tracking-in-contract {
    -webkit-animation: tracking-in-contract 0.8s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
    animation: tracking-in-contract 0.8s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
}

@keyframes tracking-in-contract {
    0% {
        letter-spacing: 1em;
        opacity: 0;
    }

    40% {
        opacity: 0.6;
    }

    100% {
        letter-spacing: normal;
        opacity: 1;
    }
}

.header {
    width: 20%;
    height: 100vh;
    float: left;
}

.home {
    width: 80%;
    height: 100vh;
    float: right;
}

.container1 {
    display: flex;
    justify-content: center;
    height: 100vh;
}

.row1 {
    display: flex;
    align-items: center;

}

main {
    min-height: 100vh;
    background: linear-gradient(45deg, rgb(240, 134, 134), rgb(148, 148, 238), rgb(150, 150, 73));
}


.body {
    display: flex;
}

.topNav {
    display: flex;
    flex-direction: column;
    /* margin: 3rem 0; */
    align-items: center;
}

.botNav {
    display: flex;
    align-items: center;
}

.menu {
    color: yellow !important;
}

.menu ::selection {
    color: #E70FAA !important;
    text-decoration: underline;
}

.foot {
    font-size: x-small;
}